<%= provide(:title, @client.name) %>

<span class="label label-info", width=60px><%= Client.define_role current_client.role %></span>
  
<% @client.deposits.each do |deposit| %>
  <% deposit_type = DepositType.find(deposit.deposit_type_id) %>
<% end %>
   
<% if current_client.role == 0 %>
  <%= render 'clients/client_information' %>
  <%= link_to "Create Deposit", get_deposit_path %> |
  <%= link_to "Messages", messages_path %> |
<% end %>

<% if current_client.role == 2 %>
  <%= render 'clients/bank_information' %>
  <%= link_to "Check deposits", deposer_index_path %> |
<% end %>

<% if current_client.role == 2 or current_client.role == 0 %>
  <%= link_to "Deposit maintaining", deposit_index_path %> |
<% end %>

<%= link_to "Currency bill exchange", exchange_path(current_client) %> |

