
<%= provide(:title, @client.name) %>

<span class="label label-info"><%= Client.define_role current_client.role %></span>
<%= current_client.role %>
<div class="page-header well">
  <h1>
    <%= @client.name %>
  </h1>
</div>



<table class="table table-hover table-bordered">
 <thead>
 <tr>
 <th>Currency</th>
 <th>Bill</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td>RUB</td>
 <td><%= @client.bill_rus %></td>
 </tr>
 <tr>
 <td>BYR</td>
 <td><%= @client.bill_bel %></td>
 </tr>
 <tr>
 <td>EUR</td>
 <td><%= @client.bill_euro %></td>
 </tr>
  <tr>
 <td>USD</td>
 <td><%= @client.bill_dollars %></td>
 </tr>
 </tbody>
 </table>

<div class="client_deposits">
<% @client.deposits.each do |deposit| %>
<% deposit_type = DepositType.find(deposit.deposit_type_id) %>
<h5><%= deposit_type.kind %></h1>
<%= link_to 'Show more', client_deposit_information_path(@client,deposit)%>
<hr>
<% end %>
</div>


  <% if current_client.role == 0 %>
  | <%= link_to "Get Credit", '#'%> |
  <% end %>
  <% if current_client.role == 0 %>
  <%= link_to "Create Deposit", get_deposit_path %> |
  <% end %>
<% if current_client.role == 1 or current_client.role == 0 %>
  <%= link_to "Credit maintaining", '#' %> |
  <% end %>
  <% if current_client.role == 2 or current_client.role == 0 %>
  <%= link_to "Deposit maintaining", deposit_index_path %> |
  <% end %>
   <!--Буду смотреть инфу других, но скрывать, что не надо-->
  <%= link_to "Messages", messages_path %> |

  <% if current_client.role == 1 %>
  <%= link_to "Check credits", '#' %> |
  <% else if current_client.role == 2 %>
  <%= link_to "Check deposits", deposer_index_path %> |
  <%end%>
  <% end %>
  <%= link_to "Currency bill exchange", '#'%> |

