<%load_rates %>
<script type="text/javascript">
jQuery(document).keyup('.sum', function(a) {
var sum = jQuery('.sum').val();
var totalUSDBYR = sum * <%= exchange_purchase('USD','BYR') %>;
var totalEURBYR = sum * <%= exchange_purchase('EUR','BYR') %>;
var totalRUBBYR = sum * <%= exchange_purchase('RUB','BYR') %>;
jQuery(".totalUSDBYR").val(totalUSDBYR);
jQuery(".totalEURBYR").val(totalEURBYR);
jQuery(".totalRUBBYR").val(totalRUBBYR);
jQuery(".sunm").val(sum);

});
</script>
<table class="table ">
    
      <h1>MTBank</h1>
      <tr>
        <th>Currency from</th>
        <th>Currency to</th>
        <th>Purchase</th>
        <th>Sale</th>
        <th>Result</th>
      </tr>
   
    <tr>
      <td>USD</td>
      <td>BYR</td>
      <td><%= exchange_purchase('USD','BYR') %></td>
      <td><%= @sale %></td>
      <td><input type="text" class="totalUSDBYR" name="Всего" readonly size="6" style="border: none; width: 70px;" /></td>
    </tr>
      <tr>
        <td>EUR</td>
        <td>BYR</td>
        <td><%= exchange_purchase('EUR','BYR') %></td>
        <td><%= @sale %></td>
        <td><input type="text" class="totalEURBYR" name="Всего" readonly size="6" style="border: none; width: 70px;" /></td>
      </tr>
      <tr>
        <td>RUB</td>
        <td>BYR</td>
        <td><%= exchange_purchase('RUB','BYR') %></td>
        <td><%= @sale %></td>
        <td><input type="text" class="totalRUBBYR" name="Всего" readonly size="6" style="border: none; width: 70px;" /></td>
      </tr>
      <tr>
        <td></td>
        <td>Summa for convert<%= number_field 'Sum' , '1', class: 'sum' %><td><td><td>
      </tr>
      <%= DateTime.now %>
   
</table>
