<header class="navbar navbar-fixed-top navbar-inverse"> 
  <div class="container">
    <%= link_to "Internet Bank", root_path, id: "logo" %>
    <%= link_to "Deposit Department", deposit_index_path, id: "logo"  %>   
    <%= link_to "Help", help_path, id: "logo" %>
    <nav>
      <ul class="nav pull-right">
        <% if current_client %>
          Signed in as <strong><%= current_client.name %></strong>!
          <%= link_to "Profile", client_profile_path(current_client),id: "logo" %>
          <%= link_to "Sign out", signout_path, id: "logo" %>
        <% else %>
          <%= link_to "Sign in with Facebook", "/auth/facebook", id: "logo" %>
        <% end %>
      </ul>
    </nav>
  </div>
  </header>
